<div>
    <div class="content-area">
        <router-outlet></router-outlet>
    </div>

    <div class="footer-navbar">
        <!-- home screen -->
        <div class="navbar-options" [ngClass]="{'ripple': currentPage === 'home'}" (click)="routePage('home')" routerLink="/home">
            <i class="material-icons md-dark">home</i>
            <span>Home</span>
        </div>
        <!-- ideas screen -->
        <div class="navbar-options" [ngClass]="{'ripple': currentPage === 'ideas'}" (click)="routePage('ideas')" routerLink="/idea">
            <i class="material-icons md-dark">library_books</i>
            <span>Ideas</span>
        </div>
        <!-- free lancing -->
        <div class="navbar-options" [ngClass]="{'ripple': currentPage === 'freeLance'}" (click)="routePage('freeLance')" routerLink="/freeLance">
            <i class="material-icons md-dark">bar_chart</i>
            <span>Freelance</span>
        </div>
        <!-- profile -->
        <div class="navbar-options" [ngClass]="{'ripple': currentPage === 'profile'}" (click)="routePage('profile')" routerLink="/profile">
            <i class="material-icons md-dark">person</i>
            <span>Profile</span>
        </div>
    </div>
</div>
