<div class="signup-wrapper">
	<form name="form" [formGroup]="form" (ngSubmit)="form.valid && onSubmit()">

		<h4>Create account</h4><br>

		<!-- first name -->
		<div class="form-group">
			<input type="text" placeholder="First name"  class="form-control" formControlName="firstName" [ngClass]="{'is-invalid':form.get('firstName').touched && form.get('firstName').invalid}" required />
			<div class="invalid-feedback">
				<div>First Name is required</div>
			</div>
		</div>

		<!-- last name -->
		<div class="form-group">
			<input type="text" placeholder="Last name" class="form-control" formControlName="lastName" [ngClass]="{'is-invalid':form.get('lastName').touched && form.get('lastName').invalid}" required />
			<div class="invalid-feedback">
				<div>Last Name is required</div>
			</div>
		</div>

		<!-- email name -->
		<div class="form-group">
			<input type="text" placeholder="email" class="form-control" formControlName="email" [ngClass]="{'is-invalid':form.get('email').touched && form.get('email').invalid}"   />
			<div *ngIf="form.get('email').touched && form.get('email').invalid"  class="invalid-feedback">
				<div *ngIf="form.get('email').errors.required">Email Name is required</div>
				<div *ngIf="form.get('email').errors.email">Email must be a valid email Address</div>
			</div>
		</div>

		<!-- date of birth -->
		<div class="form-group">
			<input type="date" placeholder="Date of birth" class="form-control" formControlName="dob" [ngClass]="{'is-invalid':form.get('dob').touched && form.get('lastName').invalid}" required />
			<div class="invalid-feedback">
				<div>DOB is required</div>
			</div>
		</div>

		<!-- interests -->
		<div class="form-group">
			<select class="selectpicker form-control" formControlName="interests" multiple data-live-search="true">
				<option *ngFor="let interest of interests" [value]="interest.id">{{interest.value}}</option>
			</select>
		</div>

		<!-- password -->
		<div class="form-group">
			<input type="password" placeholder="password" class="form-control"  formControlName="password" [ngClass]="{'is-invalid':form.get('password').touched && form.get('password').invalid}" />
			<div *ngIf="form.get('password').touched && form.get('password').invalid"  class="invalid-feedback">
				<div *ngIf="form.get('password').errors.required">Password is required</div>
				<div *ngIf="form.get('password').errors.minlength">Password  must be a letaset 6 charector</div>
			</div>
		</div>

		<!-- confirm password -->
		<div class="form-group">
			<input type="confirmPassword" placeholder="confirm password" class="form-control"  formControlName="confirmPassword" [ngClass]="{'is-invalid':form.get('confirmPassword').touched && form.get('confirmPassword').invalid}" />
			<div *ngIf="form.get('confirmPassword').touched && form.get('confirmPassword').invalid"  class="invalid-feedback">
				<div *ngIf="form.get('confirmPassword').errors.required">Password is required</div>
				<div *ngIf="form.get('confirmPassword').errors.minlength">Password  must be a letaset 6 charector</div>
			</div>
		</div>

		<div class="form-group">
			<button class="btn btn-primary w-100" [disabled]="!form.valid">Create account</button>
		</div>
		
	</form>
</div>
