
<html>
    <head>
    <title> Profile Page </title> 
    <link rel="stylesheet" href="profile.component.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    
    
    </head>
    <body>
        <div class="profile-pic">
            <div class="image-container">
                
                <img src="assets/user.jpg" style="width: 100%">
               
                <div class="title">
                    <h2>Pranay Gheewala</h2>
                </div>
            
            </div>

            <div class="main-container">

                <p>&nbsp;&nbsp;&nbsp;&nbsp;  <i class="fa fa-home info"></i>Halifax, CA </p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;  <i class="fa fa-envelope info"></i>demo@gmail.com</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;  <i class="fa fa-phone info"></i>0123456789</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-calendar info"></i>12 Oct,1996</p>
                <hr>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;<b><i class="fa fa-asterisk info"></i>Interests</b></p>

            </div>
        </div >




    </body>
</html>