<form>
    <div class="header">
        <h1 class="text-white"> 
            Ideas
        </h1>
    </div>
    <div class="profileScreen">
        <div class="coverPhoto">
            <img src="assets/images/cover_bridge.jpg" alt="brooklyn" class="coverPicture">
        </div>
        <div class="description">
            <img src="assets/images/profile_picture.jpg" alt="Paris" class="profilePicture">
            <div class="innerDescription">
                <input type = "text" placeholder="First Name">
                <input type = "text" placeholder="Last Name">
                <input type= "date" placeholder="enter date">
                <input type= "text" placeholder="Enter Interests">
            </div>
        </div>
    </div>
    
</form>