<form>
    <div class="header">
        <h1 class="text-white"> 
            Ideas
        </h1>
    </div>
    <div class="parent">
        <img class="coverPicture" src="assets/images/cover_bridge.jpg" />
        <img class="profilePicture" src="assets/images/profile_picture.jpg" />
    </div>
    <div class="row">
        <div class="column">
          <p class="followers" style="font-size: large; font-weight: bold;">12</p>
          <p class="followers1">Followers</p>
        </div>
        <div class="column">
            <p class="followers2" style="font-size: large; font-weight: bold;">5</p>
            <p class="followers3">Following</p>
        </div>
    </div>
      <div class="name">
        <p style="font-size: large; font-weight: bold;">Lauren German</p>
        <p>Java Developer</p>
      </div>
      <div class="followButton">
        <button style="color:white; padding: 7px;">Follow</button>
      </div>
      <h2>Interests</h2>
      <div class="interests">
        <div class="row">
            <div class="column1">
                <div class="intrestsbox">
                    <p style="color:white; padding: 2px;">Java</p>
                </div>
            </div>
            <div class="column1">
                <div class="intrestsbox">
                    <p style="color:white; padding: 2px;">Kotlin</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column1">
                <div class="intrestsbox">
                    <p style="color:white; padding: 2px;">Ruby</p>
                </div>
            </div>
            <div class="column1">
                <div class="intrestsbox">
                    <p style="color:white; padding: 2px;">Python</p>
                </div>
            </div>
        </div>
      </div>
    
</form>