@footer-icon-selected: #EF5350;

.home-screen {
	.row {
		margin-left: 0px;
		margin-right: 0px;
		height: 120px;
	}
	p {
		max-height: 50px;
		overflow: hidden;
		text-overflow: ellipsis;
		font-size: 12px;
		margin-bottom: 5px;
	}
	img {
		border-radius: 10px;
		padding: 5px;
	}

	.col-8 {
		padding-left: 0px;
	}
	h5,h6 {
	    margin-bottom: 5px;
	}

	.options {
		display: inline-block;
		margin-right: 20px;
		color: grey;
		span {
			vertical-align: top;
			font-size: 13px;
		}
		i {
			font-size: 21px;
		}
	}
	.liked {
		color: @footer-icon-selected;
	}
}