<p>home works!</p>
<h2>Products</h2>
<!--https://google.github.io/material-design-icons/ -->
<div id="main_layout" class="card border border-secondary" *ngFor="let feed of UserFeeds" >


  <h4>
    <a [name]=" + ' details'">
      {{ feed.name }}
    </a>

  </h4>
  <span>

  <p *ngIf="feed.description">

    <img alt="feed.name" [src]="feed.icon"  height="70" width="70" >
     <span> Project Description: {{ feed.description }}</span>
  </p>

  </span>
  <div class="container" style="align-self: center;align-content: center;align-items: center;">
<span class="like-icon" >
  <i class="material-icons like-icon">{{ feed.liked ? 'favorite' : 'favorite_border' }}</i>
  <br> {{ feed.likes }}
</span>
    <span style="padding-left: 14px" >
    <i class="material-icons">add_circle</i>
    <br> Add to
    </span>
  </div>


</div>

