<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<div id="body">
  <form style="max-width:450px;margin:auto">
  <div class="header">
    <h1 class="text-white" style="text-align: center">
      Home
    </h1>
  </div>

  <!--https://google.github.io/material-design-icons/ -->

    <div class="panel-group">
      <div  *ngFor="let feed of UserFeeds" >
  <div class="panel panel-default">
    <h3 class="panel-heading"> <a [name]=" + ' details'">{{ feed.name }}</a></h3>
    <div class="panel-body">




  <div *ngIf="feed.description" >

     <p><span><img alt="feed.name" [src]="feed.icon"  height="70" width="70" ></span></p>
     <p><span> Project Description: {{ feed.description }}</span></p>

        </div>


      <div class="container" style="align-self: center;align-content: center;align-items: center;">
<span class="like-icon" >
  <i class="material-icons like-icon">{{ feed.liked ? 'favorite' : 'favorite_border' }}</i>
  <br> {{ feed.likes }}
</span>
              <span style="padding-left: 14px" >
    <i class="material-icons">add_circle</i>
    <br> Add to
    </span>
      </div>
    </div>

        </div>
      </div>
    </div>

  </form>
</div>


